<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBKJpyQ36VqKXl8IgKYh_1KlGzRMZK5l9s</string>
	<key>GCM_SENDER_ID</key>
	<string>256067786862</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterApplication2.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>mp-lab12</string>
	<key>STORAGE_BUCKET</key>
	<string>mp-lab12.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:256067786862:ios:d1212206006f8a4cc06e7f</string>
	<key>DATABASE_URL</key>
	<string>https://mp-lab12-default-rtdb.asia-southeast1.firebasedatabase.app</string>
</dict>
</plist>